.container {
  width: 960px;
  max-width: 960px;
  margin: 0 auto;
  padding: 0;

  @media (max-width: 850px) {
    width: 768px;
    min-width: 768px;
  }

  @media (max-width: 768px) {
    width: 560px;
    min-width: 768px;
  }
}

.scrolled {
  background: #fff;
  box-shadow: rgba(15, 15, 15, 0.06) 0 10px 10px 0;
  transition: all 0.2s;
}

.quixit-modal {
  position: fixed;
  top: 35%;
  left: 50%;
  transform: translate3d(-50%, -50%, 0);
  background-color: white;
  border-radius: 0.8rem;
  border: 0;
  // padding: 2rem;
  // min-width: 20rem;
  // max-width: 60rem;
  // width: 90%;
  opacity: 0;
  box-shadow: rgba(0, 0, 50, 0.15) 0 10px 10px 0;
}

.quixit-modal-in {
  transition: opacity 0.5s ease-in;
  opacity: 1;
}

.quixit-modal-out {
  transition: opacity 0.3s ease-out;
  opacity: 0;
}

.quixit-backdrop {
  background-color: #000;
  opacity: 0;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.quixit-backdrop-in {
  transition: opacity 0.3s ease-in-out;
  opacity: 0.83;
}

.quixit-backdrop-out {
  transition: opacity 0.3s ease-in-out;
  opacity: 0;
}
